<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  
  <!-- CSS Bootscrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- JS Bootscrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- bootstrap table -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css"><!-- bootstrap css -->
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script><!-- bootstrap java script -->
<!-- ukuran logo/feather -->

<link rel="stylesheet" href="css/depan.css">
<!--Font footer-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<!-- start bar atas -->

    <!-- Bar Atas -->
    <nav class="navbar-expand-lg navbar-light bg-light border rounded"><!-- warna navbar(light,primary(biru),success(hijau)),dark(warna tulisan menjadi putih) -->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="smartphone"></i>
              Download Butuhdokter App
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <!-- Bar Atas1 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white"><!-- warna navbar(light,primary(biru),success(hijau)),dark(warna tulisan menjadi putih) -->
            
        <img src="/images/butuhdokter3.png">
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link ml-3" href="#">
                  
                </a>
              </li>
              <form class="form-inline waves-light"style="width: 100%;"mdbRippleRadius>
                <input class="form-control"style="width: 80%;"type="text"placeholder="Cari di Butuhdokter">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                <i data-feather="search"></i>
                </button>
                </form>
            </ul>
                
            <ul class="navbar-nav mr-1">
                <li class="nav-item active">
                    <a class="nav-link" href="/caridokter">
                      Cari Dokter
                    </a>
                  </li>
            </ul>

            <ul class="navbar-nav mr-1">
                <li class="nav-item active">
                    <a class="nav-link active" href="/infokesehatan">
                      Info Kesehatan
                    </a>
                  </li>
            </ul>

            <ul class="navbar-nav mr-1">
                <li class="nav-item">
                    <a class="nav-link active" href="/tentangkami">
                      Tentang Kami
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav mr-1">
                <li class="nav-item active">
                    <a class="nav-link" href="/hubungikami">
                      Hubungi Kami
                    </a>
                </li>
            </ul>
            
            <div class = "vertical"></div>

            <h1 class ="white">****</h1>
            <div>
              <div>
                <form action="/logout"POST> 
              <button type="submit" class="btn btn-outline-primary ml-3">Logout</button>
              </form>
              </div>
            </div>

        </div>
    </nav>

    <!-- batas navbar1 -->
    <%- body %>
    <%- script %>
    <%- style %>

    </html>

