
/*text center*/

/*div center*/


#p1 {background-color:#ff0000;}
#p2 {background-color:#00FFFF;}

.navbar-custom { 
            background-color: #87CEEB;
        } 
        /* Modify brand and text color */ 
          
        .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: white; 

        }

        .navbar-custom2 { 
          background-color: white;
      } 
      /* Modify brand and text color */ 
        
      .navbar-custom .navbar-brand, 
      .navbar-custom .navbar-text { 
          color: white; 

      }

.vertical { 
            border-left: 1px solid black; 
            height: 50px; 
            position:static; 
            left: 50%; 
        } 
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFAFA;
  }/*warna background*/
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  /*-------------------------------------------*/
      /* Modify the background color */
           
      .hero-title {
        color: #FFFFFF;
            font-size: 38px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 0;
            margin-right: 800px;
    }
    
    *{
      font-family: 'LatoWeb';
    }
    
    .hero-text {
        color: #ffffff;
            font-size: 26px;
            letter-spacing: 0.9px;
            line-height: 27px;
            margin-top: 0;
            font-weight: 100;
            text-align: center;
            margin-right: 665px;
    }
    .hero-content {
          width: 100%;
            max-width: 1450px; /*set align img*/
            text-align: left;
    }
    .hero-content-inner {
            padding: 80px 0 75px 80px;/*tata letak box*/
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 550px;
    }

    .button.link.button {
      text-decoration: none;
      text-align: center;
      display: block;
      border: 0;
      border-radius: 3px;
      color: #ff0000;
    }

    .form-control {
      /*
      height: 55px;
      width: 610px;
      border-radius: 5px;
      background-color: rgba(255,255,255,1);
      position:relative;
      */
      margin-right: 500;
    }

/*============================================================*/


/*form {border: 3px solid #f1f1f1;}*/

input[type=text1], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn1 {
  background-color: #FFFAFA;
  color: #6495ED;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}
.border-setting{
  border: 1px solid #6495ED;
}
.btn1:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #87CEEB;
  margin-left: 0px;
}/*cancel button background*/

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  
}

span.psw {
  float: right;
  padding: 16px 0px 0px 50px;/*align text block */
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*============================================================================*/
.footer_left{
  text-align: center;
}

.footer_nav{
  text-align: center;
  margin: 24px 45px 12px 0;
}

.footer_sosmed{
  text-align: center;
  margin: 24px 5px 12px 0;
}

.cr_box{
  text-align: center;
  margin: 24px 5px 12px 0;
}

.z{
  text-align: center;
}



.c{
  text-align: center;
  
  
}

.d{
  text-align: center;
  
}

.h{
  text-align: center;
  margin: 0px 0px 0px 280px;
}

.x{
  text-align: center;
  margin-left: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.background-size{
  width: 37%;/*ukuran background cancel*/
  padding: 20px 18px;
}
.imgtrycenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.h5textsize{
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.btn2 {
  background-color:#3b5998;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn2:hover {
  opacity: 0.8;
}

.btn3 {
  background-color:#c71610;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn3:hover {
  opacity: 0.8;
}
/*.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}*/

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 50%;
}

.fa-twitter {
  background: #1DA1F2;
  color: white;
  margin-left: 50%;
}
    
.fa-instagram {
   background: linear-gradient(to bottom left, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #F56040, #F77737, #FCAF45, #FFDC80);
   color: white;
   margin-left: 50%;
}
    
.fa-google-plus {
   background: #db4a39;
   color: white;
   margin-left: 50%;
}

/*-------------------------------------------------------------------------------*/

/*text center*/

/*div center*/
* {
	margin: 0;
  padding: 0;
  font-family:'LatoWeb';
}

  

  article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  article:last-child {
    margin-bottom: 0;
  }

  article h3 {
    margin: 10px 0 25px 0;
  }
  article p {
    margin-top: 16px;
    line-height: 24px;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  /*-------------------------------------------*/
      /* Modify the background color */

      

    .footer {
      width: 100%;
      background: #1c3641;
      display: block;
    }

    .inner-footer {
      width: 95%;
      margin: auto;
      padding: 30px 10px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: center;
    }

    .footer-items {
      width: 25%;
      padding: 10px 20px;
      box-sizing: border-box;
    }

    h1 {
      padding: 10px 0;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
    }

    .footer-items p {
      color: grey;
      font-size: 16px;
      text-align: justify;
      line-height: 25px;
    }

    h2 {
      margin: 10px 0;
      color: grey;
      font-size: 16px;
      font-weight: lighter;
      text-transform: uppercase;
    }

    .border1 {
      height: 2px;
      width: 40px;
      background: #ff9800;
    }

    ul {
      list-style: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 0.5px;
    }

    ul a {
      text-decoration: none;
      outline: none;
      color: #fff;
      transition: 0.3s;
    }

    ul a:hover {
      color: #ff9800;
    }

    .ul1 {/*ul li*/
      margin: 10px 0;
      height: 25px;
    }
    .ul2 {/*ul li*/
      margin: 10px 0;
      height: 25px;
    }

    li i {
      margin-right: 20px;
    }

    .social-media {
      width: 100%;
      color: #fff;
      text-align: center;
    }

    .social-media a {
      text-decoration: none;
    }

    .social-media i {
      height: 40px;
      width: 40px;
      margin: 20px 5px;
      padding: 10px;
      color: #fff;
      border-radius: 50%;
      border: 1px solid grey;
      transition: 0.3s;
    }

    .social-media i:hover {
      background: grey;
    }

    .footer-bottom {
      padding: 10px;
      background: #3d545f;
      color: #fff;
      font-size: 12px;
    }

    @media screen and (max-width: 1085px) {
      .footer-items {
        width: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      .footer-items {
        width: 100%;
      }
    } 

    .border-size{
      width:1200px;
  margin: auto;
  /*border: 3px solid #A9A9A9;
  opacity: 0.2;*/
    }/*warna background*/
    div.x1{
    width:467px;
  margin: auto;
  /*border: 3px solid #73AD21;*/
  padding: 16px;
    }

/*tab files-----------------------------------------------------------------------------*/
    body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;/*menu tutup tabs*/
  border: 1px solid white;
  background-color: #00FFFF;
  width: 80%;/*width box dokter,fasilitas,spesialisasi*/
  /*padding: 14px 20px;*/
  margin: auto;
}/*box dok,fas,spe size*/

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 92.9px;/*tab button dokter,fasilitas,spesialisasi*/
  transition: 0.3s;/*blue to grey*/
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  width: 80%;/*block dokter*/
  margin: auto;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

/*my edit*/
.col-sm{
  width: 25%;/*box dokter*/
  /*border: 1px solid #ccc;*/
  margin: auto;
}
h5[class=sm]{
    margin: 10px 0;
    color: grey;
    font-size: 19px;
    font-weight: lighter;
    /*text-transform: uppercase;
  */}

h5{
  margin: 10px 0;
  color: black;
  font-size: 25px;
  font-weight: lighter;
  /*text-transform: uppercase;*/
}
#example1 {
  background-color: #FFFAFA;
  padding: 15px;
  width: 70%;
  margin: auto;
}
.bsearch{
  margin: auto;
}
.textcenter{
  text-align: center;
}
h5[class=color]{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #6495ED;
  font-size: 18px;
}
h5[class=colors]{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 15px;
}
.col-sm2{
  width: 100%;/*box dokter*/
  /*border: 1px solid #ccc;*/
  margin: auto;
}
.spesialistext{
  margin: 10px 0;
  color: grey;
  font-size: 15px;
  font-weight: lighter;
  width: 22%;

  /*text-transform: uppercase;
*/}
h5[class=jd] {
  margin: 10px 0;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  /*text-transform: uppercase;*/
}
/*CENTER GET DIRECTION*/
.centerget{
  margin: auto;
}
.black{
  color: black;
}