<!--terminal : npm install --save express-ejs-layouts-->
<!--lalu pindeah ke index.js home tambah app.use.layouts-->

<!--bikin layout, dinamakan layouts di folder -> bisa digunakan 1 layout yg sama-->
<!--harus install di terminal, npm install --save express-ejs-layouts-->
<!--tambahkan di index.js week 10 : const layouts = require('express-ejs-layouts');& app.use(layouts) -->
<!-- CSS Bootscrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- JS Bootscrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- bootstrap table -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css"><!-- bootstrap css -->
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script><!-- bootstrap java script -->
<!-- ukuran logo/feather -->

<link rel="stylesheet" href="css/depan.css">
<!--Font footer-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar-expand-xlg navbar-custom"><!-- warna navbar(light,primary(biru),success(hijau)),dark(warna tulisan menjadi putih) -->
    <div class="hero">
    <div class="container-hero">
        <div class="hero-content">
            <div class="hero-content-inner" style="background-image: url(images/dokterf.png);">
        <h1 class="hero-title px-5 px-5">Atur Janji Jadi Mudah</h1>
        <h2 class="hero-text px-5">Layanan Booking Mempermudah Masyarakat</h2>
        <form class="form-inline waves-light px-5"style="width: 100%;"mdbRippleRadius><!--width=ukuran bar-->
            <input class="form-control ml-5"style="width: 60%;"type="text"placeholder="Cari Dokter, Rumah Sakit, Spesialis, dll.">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
              <i data-feather="search"></i>
              
            </button>
            </form>
        <!-- kotak isi -->
    </div>
    </div>
    </div>
    </div>
    </nav>

    <!-- batas navbar2 -->
    <div class="row mx-0">
      <button class="button button2" style="width:25%" onclick="window.location.href='chatdokter.html'"><!-- kolom 1(border=garis kotak(px,py berfungsi untuk membuat spasi pada tulisan customer)) -->
        <div class="row"><!-- row untuk gambar -->
          <div>
            <h6 class="centerh6">Chat Bersama Dokter</h6>
          </div>
          <div class="col-sm text-right">
            <i style="width:20px; height:20px" data-feather="message-square"></i>
          </div>
        </div>
      </button>
      
      <button class="button button2" style="width:25%" onclick="window.location.href='caridokter.html'"><!-- kolom 1(border=garis kotak(px,py berfungsi untuk membuat spasi pada tulisan customer)) -->
        <div class="row"><!-- row untuk gambar -->
          <div>
            <h6 class="centerh6">Cari Dokter</h6>
          </div>
          <div class="col-sm text-right">
            <i style="width:20px; height:20px" data-feather="message-square"></i>
          </div>
        </div>
      </button>

      <button class="button button2" style="width:25%" onclick="window.location.href='dokterumum.html'"><!-- kolom 1(border=garis kotak(px,py berfungsi untuk membuat spasi pada tulisan customer)) -->
        <div class="row"><!-- row untuk gambar -->
          <div>
            <h6 class="centerh6">Dokter Umum</h6>
          </div>
          <div class="col-sm text-right">
            <i style="width:20px; height:20px" data-feather="message-square"></i>
          </div>
        </div>
      </button>

      <button class="button button2" style="width:25%" onclick="window.location.href='reviewdokter.html'"><!-- kolom 1(border=garis kotak(px,py berfungsi untuk membuat spasi pada tulisan customer)) -->
        <div class="row"><!-- row untuk gambar -->
          <div>
            <h6 class="centerh6">Review Dokter</h6>
          </div>
          <div class="col-sm text-right">
            <i style="width:20px; height:20px" data-feather="smile"></i>
          </div>
        </div>
      </button>
    </div>

    
    <main>
      <article>
        
        <div class="col-sm"><!-- kolom 1(border=garis kotak(px,py berfungsi untuk membuat spasi pada tulisan customer)) -->
          <h2 class="colorinfo"><b>Info Kesehatan</b></h2>
        <br>
          <div class="row bordersz px-5"><!-- row untuk gambar -->
            <div><!--no col-sm-->
              <br>
        <img src="images/pijatrefleksi.jpg" width="400" height="300">
        </div>
        <div class="col-sm text-left">
          <h3><b>Metode Pengobatan Tradisional</b></h3>
          <h5 class="colorinfo">Manfaat Pijat Refleksi Bagi Kesehatan</h5>
          <p>Pijat merupakan salah satu cara untuk menghilangkan capek dan pegal serta nyeri</p>
          <p>pada tubuh. Jenis pijat sendiri ada bermacam-macam. Yang paling</p>
          <p>banyak digemari masyarakat adalah pijat...</p>
          <a href="infokesehatan.html"><u>Baca Selengkapnya</u></a>
          
        </div>

      </div>
      <br>
        <hr>
        <br>
        </div>

      </article>
    </main>
  

    <div class="footer">
      <div class="inner-footer">
  
        <div class="footer-items">
          <img src="images/butuhdokter3.png">
        </div>
  
        <div class="footer-items">
          <h2 class="h2footer">Site Map</h2>
          <div class="border1"></div>
          <ul>
            <li class="ul1">Home</li>
            <a href=""><li class="ul1">Syarat & Ketentuan</li></a>
            <a href=""><li class="ul1">Tentang Kami</li></a>
            <a href=""><li class="ul1">Karir</li></a>
            <a href=""><li class="ul1">Kontak</li></a>
          </ul>
        </div>
  
        <div class="footer-items">
          <h2 class="h2footer">Lainnya</h2>
          <div class="border1"></div>
          <ul>
            <a href=""><li class="ul1">Privasi</li></a>
            <a href=""><li class="ul1">Iklan</li></a>
            <a href=""><li class="ul1">Gabung Tim BUTUHDOKTER</li></a>
            <a href=""><li class="ul1">Tim Editorial</li></a>
            <a href=""><li class="ul1">Proteksi BUTUHDOKTER</li></a>
          </ul>
        </div>
  
        <div class="footer-items">
          <h2 class="h2footer">Alamat Kami</h2>
          <div class="border1"></div>
          <ul>
            <li class="ul1"><i class="fa fa-map-marker" aria-hidden="true"></i>Jl. Letjen S. Parman No.1, RT.6/RW.16.</li>
            
            <li class="ul1"><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
            <li class="ul1"><i class="fa fa-envelope" aria-hidden="true"></i>support@butuhdokter.com</li>
          </ul>
          <div class="social-media">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        
      </div>
      <div class="footer-bottom">
        Hak Cipta &copy; BUTUHDOKTER 2020.
      </div>
    </div>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
<!--secara default isi diatas akan masuk/dipindah di body main.ejs-->
<!--time 01:16:31 menuju main.ejs-->

<!--caranya dikasih tau-->
<!--time 01:18:05,npm run dev, coba di browser-->
<%- contentFor('title') %>
ButuhDokter

