<link rel="stylesheet" href="css/infokesehatan.css">
  <!-- batas navbar1 -->
  
  <body>
      <span class="psw"><a href="depan.html">Home</a> > Info Kesehatan</span>
<nav class="navbar-expand-lg navbar-custom2 mt-5 border-size">
<div class="login_box">
<form action="/action_page.php" method="post" >
<div class="container">
    <h2 class="colorinfo"><b>Manfaat Pijat Refleksi Bagi Kesehatan</b></h2>
  <br>
    <p>Pijat merupakan salah satu cara untuk menghilangkan capek dan pegal serta nyeri pada tubuh. Jenis pijat sendiri ada bermacam-macam. Yang paling banyak digemari masyarakat adalah pijat urut dan pijat refleksi.</p>
    <br><br>
    <img src="images/pijatrefleksi.jpg" width="400" height="300" class="imgcenter">
    <br><br>
    <p>Apa yang membedakan pijat urut dengan pijat refleksi?</p>
  <p>Pijat refleksi merupakan salah satu metode pengobatan tradisional yang berasal dari China. Perbedaan yang paling dasar terletak pada metode yang digunakan. Pijat refleksi hanya mengutamakan titik-titik tertentu pada tubuh yaitu tangan, kaki dan telinga.</p>
  <p>Titik-titik tersebut diyakini berhubungan langsung dengan saraf-saraf organ tubuh. Ketika titik-titik tersebut dipijat, tentunya akan berpengaruh pada organ-organ tubuh. Pijat refleksi tidak bisa dilakukan sembarang orang, hanya terapis yang memiliki pengalaman dan sertifikasi tertentu yang boleh melakukannya. Pijat ini bisa saja menimbulkan kesalahan yang fatal jika dilakukan sembarang orang.</p>
  <p>Masyarakat menyukai pijat refleksi karena dianggap sebagai metode pengobatan penyakit tertentu dengan aman, tanpa harus mengkonsumsi obat-obat yang mayoritas mengandung bahan-bahan kimia.</p>
  <p>Pijat refleksi ini dilakukan dengan cara sederhana. Hanya menggunakan jari-jari tangan, dan jika diperlukan bisa memakai alat bantu pijat lainnya untuk menekan titik-titik syaraf pada tangan dan kaki.</p>
  <p>Lalu, manfaat apa saja yang dapat diperoleh dari pijat refleksi?</p>
  <p>Banyak sekali manfaat yang didapat dengan melakukan pijat refleksi, terutama yang berkaitan dengan kesehatan, diantaranya:</p>
  <h4>1. Mengurangi Sakit Kepala</h4>
  <p>Pijat refleksi dapat membantu meringankan rasa sakit kepala yang disebabkan oleh rasa cemas dan juga stres tanpa harus meminum obat-obatan. Terapi pijat refleksi untuk meredakan nyeri biasanya terlihat setelah 3 bulan rutin melakukannya.</p>
  <p>Menurut penelitian yang telah dilakukan, terdapat 23 persen pasien tidak lagi mengalami sakit kepala dan 11 persen lagi tidak mengkonsumsi obat-obatan ketika rutin melakukan pijat refleksi.</p>
  <h4>2. Membantu Melancarkan Peredaran Darah</h4>
  <p>Telapak kaki memiliki saraf yang langsung berhubungan dengan jantung dan juga pembuluh darah. Ketika dilakukan pemijatan di titik-titik tersebut secara otomatis akan berpengaruh pula pada fungsi jantung dan pembuluh darah.</p>
  <p>Pijat refleksi juga dipercaya dapat meningkatkan kesehatan jantung. Pijat ini juga dipercaya dapat membuka simpul-simpul saraf sehingga mampu melancarkan peredaran darah.</p>
  <h4>3. Metode Recovery Pasien Stroke</h4>
  <p>Stroke merupakan penyakit yang disebabkan oleh kurangnya suplai darah ke otak. Kekurangan ini bisa disebabkan oleh penyumbatan maupun pecahnya pembuluh darah. Akibatnya sel-sel otak akan mati karena kekurangan nutrisi dan oksigen yang terkandung di dalam darah. Kondisi tersebut tentunya akan mempengaruhi fungsi tubuh yang dikendalikan oleh otak. </p>
  <p>Umumnya pasien stroke tidak bisa untuk menggerakkan anggota gerak tubuh, baik secara sebagian maupun secara total.</p>
  <p>Penanganan bagi pasien stroke biasanya dengan melakukan terapi fisik. Pijat refleksi dapat digunakan sebagai pendamping terapi pengobatan medis. Tekanan yang diberikan saat melakukan pemijatan pada tangan ataupun kaki dapat memberikan dampak positif serta mampu mendorong peningkatan kemampuan gerak pasien stroke.</p>
  <h4>4. Membantu Meringankan Sembelit</h4>
  <p>Sembelit atau disebut juga dengan konstipasi, merupakan kondisi sulit buang air besar dalam waktu yang cukup lama. Sembelit bisa terjadi karena gaya hidup yang kurang sehat terutama pola makan sehari-hari ataupun karena stres yang berlebihan. Sembelit wajar terjadi dan bisa sembuh dengan sendirinya.</p>
  <p>Meskipun demikian, sembelit tidak boleh dibiarkan dan diabaikan. Karena sembelit yang telah melampaui kewajaran dapat diindikasikan sebagai salah satu tanda penyakit yang serius.</p>
  <p>Pengobatan sembelit dapat dilakukan secara alami, baik itu dengan mengganti pola makan yang lebih sehat dan juga terapi. Salah satu terapi yang dapat dilakukan adalah pijat refleksi.</p>
  <p>Pijat refleksi dipercaya dapat mengurangi rasa stres, sehingga menimbulkan perasaan yang lebih nyaman dan menenangkan. Dan hal tersebut tentunya sangat berguna bagi penderita sembelit.</p>
  <h4>5. Metode Pendamping Kemoterapi bagi Penderita Kanker</h4>
  <p>Kemoterapi merupakan salah satu metode pengobatan kanker dengan menggunakan bahan-bahan kimia. Kemoterapi dapat menimbulkan efek yang luar biasa kepada penderita, seperti nyeri, mual bahkan muntah.</p>
  <p>Pijat refleksi digunakan sebagai metode terapi pendamping bagi penderita kanker untuk membantu mengurangi rasa nyeri yang diakibatkan oleh kemoterapi. Manfaat lain yang didapat dari pijat refleksi bagi penderita kanker adalah dapat membantu meningkatkan nafsu makan, mencegah gangguan pencernaan, mencegah kelelahan serta menjaga suasana hati.</p>
  <p>Pengobatan kanker yang didampingi dengan pijat refleksi ini juga dipercaya dapat membantu meningkatkan kualitas hidup penderita kanker.</p>
  <h4>6. Mengurangi Lelah dan Rasa Gelisah</h4>
  <p>Aktivitas sehari-hari yang padat mampu membuat orang merasa jenuh. Tekanan dan tuntutan pekerjaan lama kelamaan dapat menyebabkan orang mengalami stres. Jika sudah demikian, pasti rasa gelisah dan cemas akan selalu menghantui kehidupan seseorang. Dampak lain yang dirasakan tentunya penurunan produktivitas dalam pekerjaan.</p>
  <p>Kondisi seperti itu tentunya membutuhkan relaksasi, yang mampu membuat seseorang merasa nyaman dan tenang kembali. Salah satu cara yang dapat dilakukan yaitu dengan pijat refleksi.</p>
  <p>Pijat refleksi yang dilakukan pada tangan dan kaki, dapat membantu mengurangi rasa cemas, gelisah dan lelah, serta meningkatkan kualitas tidur.</p>
  <p>Telah dibuktikan oleh beberapa penelitian, bahwa pijat refleksi cukup efektif untuk mengurangi gangguan psikologis yang dialami beberapa orang. Pijat refleksi juga telah dibuktikan mampu mengurangi rasa lelah yang dialami oleh ibu hamil selama kehamilan berlangsung. </p>
  <h4>Kesehatan Harusnya Dijaga dan Diupayakan</h4>
  <p>Meskipun banyak sekali manfaat dari terapi pijat refleksi, namun kamu tidak boleh hanya mengandalkan upaya ini saja. Menjaga kesehatan tentunya lebih baik daripada mengobati. Pada beberapa penyakit, pijat refleksi hanya membantu mengurangi ataupun meredakan, baik itu gejala ataupun efeknya, tidak dapat menghilangkan secara total.</p>
  <p>Pijat refleksi juga tidak boleh diberikan kepada seseorang yang menderita masalah peredaran darah pada kaki, cedera pada tangan dan kaki, kaki kapalan, memiliki luka terbuka, sedang diare, demam, jumlah trombosit rendah serta gangguan tiroid</p>

</div>
</form>
</nav>
<br><br><br>





<!----------------------------------------------------------------------------------->

<div class="footer">
<div class="inner-footer">

  <div class="footer-items">
    <img src="images/butuhdokter3.png">
  </div>

  <div class="footer-items">
    <h2 class="footer">Site Map</h2>
    <div class="border1"></div>
    <ul>
      <a href=""><li class="ul1">Home</li></a>
      <a href=""><li class="ul1">Syarat & Ketentuan</li></a>
      <a href=""><li class="ul1">Tentang Kami</li></a>
      <a href=""><li class="ul1">Karir</li></a>
      <a href=""><li class="ul1">Kontak</li></a>
    </ul>
  </div>

  <div class="footer-items">
    <h2 class="footer">Lainnya</h2>
    <div class="border1"></div>
    <ul>
      <a href=""><li class="ul1">Privasi</li></a>
      <a href=""><li class="ul1">Iklan</li></a>
      <a href=""><li class="ul1">Gabung Tim BUTUHDOKTER</li></a>
      <a href=""><li class="ul1">Tim Editorial</li></a>
      <a href=""><li class="ul1">Proteksi BUTUHDOKTER</li></a>
    </ul>
  </div>

  <div class="footer-items">
      <h2 class="h2footer">Alamat Kami</h2>
      <div class="border1"></div>
      <ul>
        <li class="ul1"><i class="fa fa-map-marker" aria-hidden="true"></i>Jl. Letjen S. Parman No.1, RT.6/RW.16.</li>
        
        <li class="ul1"><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
        <li class="ul1"><i class="fa fa-envelope" aria-hidden="true"></i>support@butuhdokter.com</li>
      </ul>
      <div class="social-media">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
    </div>
  
</div>
<div class="footer-bottom">
  Hak Cipta &copy; BUTUHDOKTER 2020.
</div>
</div>
      <!-- batas navbar2 -->
      
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>

<%- contentFor('title') %>
Info Kesehatan