
  <!-- batas navbar1 -->
  <link rel="stylesheet" href="css/masuk.css">

<nav class="navbar-expand-lg navbar-custom2 mt-5 border-size pic">
<div class="container"><br><br>
  <h4 class="z"><b>Tentang Kami</b></h4>
  
  <br>
  <p class="z">Kami berdiri sejak tahun 2020, Aplikasi kami</p>
  <p class="z">memiliki jaringan dokter, rumah sakit, spesialis</p>
  <p class="z">yang luas dan akan terus bertambah. Dapatkan</p>
  <p class="z">berbagai informasi perihal jadwal praktek dokter</p>
  <p class="z">pilihan anda dan membuat janji sesuai waktu yang anda inginkan</p>
  <br><br>
</div>
</nav>
<br><br><br>





<!----------------------------------------------------------------------------------->

<div class="footer">
<div class="inner-footer">

  <div class="footer-items">
    <img src="img/butuhdokter3.png">
  </div>

  <div class="footer-items">
    <h2>Site Map</h2>
    <div class="border1"></div>
    <ul>
      <a href=""><li class="ul1">Home</li></a>
      <a href=""><li class="ul1">Syarat & Ketentuan</li></a>
      <a href=""><li class="ul1">Tentang Kami</li></a>
      <a href=""><li class="ul1">Karir</li></a>
      <a href=""><li class="ul1">Kontak</li></a>
    </ul>
  </div>

  <div class="footer-items">
    <h2>Lainnya</h2>
    <div class="border1"></div>
    <ul>
      <a href=""><li class="ul1">Privasi</li></a>
      <a href=""><li class="ul1">Iklan</li></a>
      <a href=""><li class="ul1">Gabung Tim BUTUHDOKTER</li></a>
      <a href=""><li class="ul1">Tim Editorial</li></a>
      <a href=""><li class="ul1">Proteksi BUTUHDOKTER</li></a>
    </ul>
  </div>

  <div class="footer-items">
    <h2>Alamat Kami</h2>
    <div class="border1"></div>
    <ul>
      <li class="ul2"><i class="fa fa-map-marker" aria-hidden="true"></i>Jl. Letjen S. Parman No.1,
         RT.6/RW.16.</li>
      <li class="ul2"><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
      <li class="ul2"><i class="fa fa-envelope" aria-hidden="true"></i>support@butuhdokter.com</li>
    </ul>
    <div class="social-media">
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </div>
  </div>
  
</div>
<div class="footer-bottom">
  Hak Cipta &copy; BUTUHDOKTER 2020.
</div>
</div>
      <!-- batas navbar2 -->
      
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>

<%- contentFor('title') %>
Tentang Kami