<link rel="stylesheet" href="/css/dokterprofilc-d-f-s-1-04.css">

<nav class="navbar-expand-xlg">
    <div class="hero">
        <div class="container-hero">
            <div class="hero-content">
                <div class="hero-content-inner">

            <form class="form-inline waves-light px-5 bsearch"style="width: 68.5%;"mdbRippleRadius><!--width=ukuran bar-->
                <input class="form-control ml-5"style="width: 82.8%;"type="text"placeholder="Cari Dokter, Rumah Sakit, Spesialis, dll.">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  <i data-feather="search"></i>
                  
                </button>
                <span class="psw"><a class="nav-item black" href="/">Home</a> > <a class="nav-item black" href="/caridokter">Cari dokter</a> > <a class="nav-item black" href="/caridokter">Cari Fasilitas</a> > <a class="nav-item black" href="/caridokter/fasilitas/rs-abcdefghijklmn3">RS Abcdefghijklmn3</a> > <a class="nav-item black" href="/caridokter/fasilitas/rs-abcdefghijklmn3/spesialis-bedah">Spesialis Bedah</a> > dr. Abcdefghijklmn4</span>
                </form>

                <br>

                <div class="col-sm">
                <div class="row">
                  <div>
                  <img src="/images/dokterprofil1.png" width="125" height="125">
                
                </div>

                <div>
                <div class="text-left">
                  <h5>dr. Abcdefghijklmn4</h5>
                  <h5 class="sm">Spesialis Bedah</h5>
                </div>
                
              
              </div>
              </div>

              <div class="textcenter">
                <br>
                <h5 class="color">Tentang Dokter</h5>
                <h5 class="colors">Seorang Dokter Umum yang menyelesaikan studi di universitas Abcdefghijklmn</h5>
                <hr>
                <h5 class="color">Lokasi / Jadwal Praktek</h5>
                <h5 class="colors">RS Abcdefghijklmn3</h5>
                <h5 class="colors">Jl. Letjen S. Parman No.1, RT.6/RW.16.</h5>
                <hr>
                <h5 class="colors">Sabtu - 14:30 - 20:00</h5>
                <h5 class="colors">marketingrsabcdefghijklmn@gmail.com</h5>
              </div>
              
              <div class="row">
              
              <br>
              <button type="submit" class="btn1 centerget"><u>Get Direction</u></button>
            </div>

            </div><br><br>
            <!-- kotak isi -->
            

        </div>
        </div>
        </div>
        </div>
        </nav>





<!----------------------------------------------------------------------------------->

<div class="footer">
<div class="inner-footer">

<div class="footer-items">
  <img src="/images/butuhdokter3.png">
</div>

<div class="footer-items">
  <h2>Site Map</h2>
  <div class="border1"></div>
  <ul>
    <a href=""><li class="ul1">Home</li></a>
    <a href=""><li class="ul1">Syarat & Ketentuan</li></a>
    <a href=""><li class="ul1">Tentang Kami</li></a>
    <a href=""><li class="ul1">Karir</li></a>
    <a href=""><li class="ul1">Kontak</li></a>
  </ul>
</div>

<div class="footer-items">
  <h2>Lainnya</h2>
  <div class="border1"></div>
  <ul>
    <a href=""><li class="ul1">Privasi</li></a>
    <a href=""><li class="ul1">Iklan</li></a>
    <a href=""><li class="ul1">Gabung Tim BUTUHDOKTER</li></a>
    <a href=""><li class="ul1">Tim Editorial</li></a>
    <a href=""><li class="ul1">Proteksi BUTUHDOKTER</li></a>
  </ul>
</div>

<div class="footer-items">
  <h2>Alamat Kami</h2>
  <div class="border1"></div>
  <ul>
    <li class="ul2"><i class="fa fa-map-marker" aria-hidden="true"></i>Jl. Letjen S. Parman No.1,
       RT.6/RW.16.</li>
    <li class="ul2"><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
    <li class="ul2"><i class="fa fa-envelope" aria-hidden="true"></i>support@butuhdokter.com</li>
  </ul>
  <div class="social-media">
    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
</div>

</div>
<div class="footer-bottom">
Hak Cipta &copy; BUTUHDOKTER 2020.
</div>
</div>
    <!-- batas navbar2 -->
    
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>

<%- contentFor('title') %>
dr. Abcdefghijklmn4